* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0e3;
    color: #333;
    line-height: 2em;

}

p {
    line-height: 1.6em;
    font-size: 1em;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    font-variant: small-caps;
    font-weight: normal;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.55em;
}

h3 {
    font-size: 1.40em;
}

h4 {
    font-size: 1.30em;
}

h5 {
    font-size: 1.20em;
}

h6 {
    font-size: 1.15em;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Profile header 在顶部 */
}

/* Profile Header Section */
.profile-header {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-status {
    color: #999;
    margin-bottom: 5px;
}

.profile-level {
    color: #666;
    margin-bottom: 15px;
}

.profile-description {
    color: #555;
    font-size: 14px;
}

/* Sidebar and Main Content Wrapper */
.main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%; /* 主容器占据100%宽度 */
    margin-top: 20px;
}

/* Sidebar Menu */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20%; /* Sidebar 占用 25% 的宽度 */
    flex-shrink: 0; /* 确保 sidebar 的宽度保持固定 */
    background-color: #ffffff;
}

.sidebar-btn {
    border: 1px solid #c4a86a;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #000;
}

.sidebar-btn a {
    text-decoration: none; 
    color: inherit;  
}

.sidebar-btn:hover {
    background-color: #e0e0e0;
}

/* Main Content Section */
.main-content {
    width: 75%; /* Main content 占用 75% 的宽度 */
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
  
  /* Code Boxes */
  pre {
    border: 2px solid #EBC3DB;
    padding: 1em;
    overflow-x: auto;
  }
  pre code { background: none; }
  
  code {
    background-color: light-dark(#D6D6D6, #888);
    border-radius: 3px;
    padding: 0.2em;
    overflow-x: auto;
  }
  
  /* Images, tables, misc. */
  .main-content img  {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 18px 0 18px 0;
  }

  blockquote {
  
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
  }